name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [12, 14, 16]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.4.0

      - name: Install Node
        uses: actions/setup-node@v3.0.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run lint

      - run: npm test

      - run: npm run build

      - run: npm run package
